.wrapper--1 {
  font-size: var(--tgui--caption1--font_size);
  line-height: var(--tgui--caption1--line_height);
}

.wrapper--2 {
  font-size: var(--tgui--caption2--font_size);
  line-height: var(--tgui--caption2--line_height);
}
