.wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 1 0;
  max-inline-size: 100%;
  padding: 10px 24px;
  border: none;
  border-radius: inherit;
  background: transparent;
  z-index: 1;
}

.wrapper--ios {
  padding: 6px 24px;
}
