.wrapper--base {
  position: relative;
  padding: 20px 22px 16px 22px;
  background: var(--tgui--bg_color);
}

.wrapper--base .title {
  position: absolute;

  top: 6px;
  left: 32px;

  border-radius: 5px;
  padding: 0 6px;
  color: var(--tgui--secondary_hint_color);
  background: var(--tgui--bg_color);
}

.body {
  display: flex;
}

.wrapper--base .body {
  border-radius: 14px;
  border: 2px solid var(--tgui--outline);
}

.wrapper--base.wrapper--error .title {
  color: var(--tgui--destructive_text_color);
}

.wrapper--base.wrapper--error .body {
  border-color: var(--tgui--destructive_text_color);
}

.wrapper--base.wrapper--focused .title {
  color: var(--tgui--link_color);
}

.wrapper--base.wrapper--focused .body {
  border-color: var(--tgui--link_color);
}

.wrapper--ios .body {
  border-radius: 12px;
  background: var(--tgui--bg_color);
}

.wrapper--ios.wrapper--error .body {
  border: 1.5px solid var(--tgui--destructive_text_color);
}
